@page "/Delete/{Id}"

@inject MediaService mediaService
@inject NavigationManager NavigationManager

<h2>Delete Media</h2>
<hr />

<h3>Are you sure you want to delete this?</h3>
<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <a src="">@vmForm.MediaType</a>
                
            </div>
            <div class="form-group">
                <label>Url</label>
                <label>@vmForm.Url</label>/>
            </div>
            <div class="form-group">
                <label>Title</label>
                <label>@vmForm.Title</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@DeleteMedia" value="Delete" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>
@code {
    [Parameter]
    public string Id { get; set; }

    EditMediaViewModel vmForm = new EditMediaViewModel();
    protected override async Task OnInitializedAsync()
    {
        vmForm = await Task.Run(() => mediaService.ConvertMediaToEditVm(Convert.ToInt32(Id)));
    }
    protected async void DeleteMedia()
    {
        await mediaService.DeleteMediaAsync(Convert.ToInt32(Id));
        NavigationManager.NavigateTo("media");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("media");
    }

}
